.main {
    flex-grow: 1;
    position: relative;
    background-image: url('/images/pexels-joyston-judah-331625-933054.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.container{
    width: 600px;
    height: 400px;
    margin: 200px auto;
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.desing{
    padding: 6rem 2rem ;
}
.titulo {
    margin-top: 5px;
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
.paragrafo {
    margin-top: 25px;
    text-align: center;
    font-size: 1.2 rem;
    color: rgb(255, 255, 255);
}