.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f0ef;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
}

/* Estilos para o logo */
.logo {
    display: flex;
    align-items: center;
}

/* Ocultando botão de menu padrão */
.menuButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilos da navegação */
.nav ul {
    display: flex;
    list-style: none;
    gap: 100px;
    padding: 0;
    margin-right: 58px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

/* Estilos do submenu */
.menuitem {
    position: relative;
    cursor: pointer;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    width: 200px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
    transform: translateY(-10px);
    z-index: 1;
}

.menuitem:hover .submenu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.submenu li {
    padding: 10px;
    text-align: left;
}

.submenu li a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    display: block;
    transition: color 0.3s;
}

/* Responsividade - Estilos para telas menores que 400px */
@media (max-width: 900px) {
    .nav {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #f4f0ef;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        flex-direction: column;
        padding: 10px 0;
        display: none;
    }

    .navActive {
        display: flex;
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        gap: 15px;
        text-align: center;
        margin: 0;
    }

    .menuButton {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
